<suite name="Players API Automation Suite"
       verbose="2"
       time-out="30000"
       parallel="methods"
       thread-count="3">


    <test name="Create Player Tests">
        <parameter name="editor" value="${editor}"/>
        <classes>
            <class name="com.spribe.yablonskyi.tests.CreatePlayerTests"/>
        </classes>
    </test>

</suite>